body {
  background-color: #ebebf2;
  background-size: cover;
  background-position: center;
}

.city-btn, #current-panel, .panel-today, .panel-tomorrow, .panel-after-tomorrow {
  background-color: #ffffff;
  color: #a3a3a3;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

.city-btn:hover {
  background-color: #f6f7fd;
  color: #ed1c24;
}
