html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100vh;
    width: 100vw;
}

.div1 { 
    grid-area: 6 / 1 / 7 / 6;
    background: #ffb3ba; 
}
.div2 { 
    grid-area: 5 / 1 / 6 / 6; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.div3 {
    grid-area: 3 / 1 / 4 / 2;
    background: #bae1ff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.div2 canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%;
    display: block;
}